/* Centra el contenido de las secciones */
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 90vh; /* antes 100vh*/
    padding: 0% 10%;
}

.home-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* ============================
    SECCION: Swiper (Galeria)
============================ */
.swiper {
    width: 100%;
    min-width: 250px; /* 350 */
    max-width: 1200px;
}

.swiper-slide img {
    width: 100%;
}

/* ============================
             Efectos
   ============================ */

/* Transiciones para elementos ocultos */
.hidden {
    opacity: 0;
    filter: blur(8px);
    transform: translateX(-100%); /*antes -100%*/
    transition: all 1s ease-in-out;
}

/* Elementos visibles */
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}