#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica, sans-serif;
}

#btnContainer{
    text-align: center;
}

#submitBtn{
    padding: 20px;
    color: black;
    font-size: 30px;
    background-color: rgb(101, 255, 191);
    animation: neon 3s linear infinite;
    border-radius: 20%;
}

#submitBtn:hover{
    padding: 20px;
    color: black;
    font-size: 30px;
    background-color: rgb(43, 209, 140);
    animation: neon 0.5s linear infinite;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: black;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: hsl(214, 100%, 56%);
    animation: neon 0.5s linear infinite;
}