/*
b. Orden por importancia o categoria
Agrupa propiedades relacionadas como sigue:

Caja (Box Model): margin, padding, width, height.
Estilizacion visual: background, color, border.
Texto: font, text-align, etc.
Transiciones/animaciones: transition, animation. */

:root {
    --primary-color: #00b8d4;
    --secondary-color: #14e7d6;
    --text-color: #e4e4e4;
    --background-color: #0d1c2e;
}

/* ============================
   Estilos Globales
   ============================ */

/* Define el fondo, tipografia y colores base para el sitio */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: linear-gradient(to bottom, #0d1c2e, #084d92);
    color: var(--text-color);
}

/* Ajusta el espaciado vertical para encabezados principales */
h1, h2 {
    margin: 10px 0;
}

/* ============================
   Secciones Generales
   ============================ */

/* Centra el contenido de las secciones */
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 0% 5%;
}


/* ============================
   SECCION: Header y Footer
   ============================ */

/* Estilo del Header: Espaciado interno y sin borde inferior */
header {
    position: relative;
    padding: 0 2rem;
}

/* Estilo del Footer: Fondo oscuro con texto centrado en color cian */
footer {
    background-color: #0b1825;
    color: #00b8d4;
    text-align: center;
    padding: 2rem;
}

/* ============================
   Enlaces
   ============================ */

/* Estilo basico para enlaces */
a {
    text-decoration: none;
    color: #e2e2e2;
    transition: color 0.5s;
}

/* Efecto hover: Subrayado y cambio de color */
a:hover {
    color: #14e7d6;
}

/* ============================
   Horizontal Rule
   ============================ */
/* Linea horizontal para separar contenido */
hr {
    border: 0;
    height: 4px;
    background: linear-gradient(90deg, rgba(52, 152, 219, 1) 0%, rgb(134, 255, 245) 50%, rgba(52, 152, 219, 1) 100%);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5), 0 0 20px rgba(52, 152, 219, 0.5), 0 0 30px rgba(52, 152, 219, 0.5), 0 0 40px rgba(52, 152, 219, 0.5), 0 0 50px rgba(52, 152, 219, 0.5);
    /*animation: neon 2s linear infinite;*/
}

/* ============================
   Efectos
   ============================ */

/* Transiciones para elementos ocultos */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

/* Elementos visibles */
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Compatibilidad: Desactiva transiciones para usuarios que prefieren reducir animaciones */
@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* Efecto neon */
@keyframes neon {
    0% {
        box-shadow: 0 0 10px rgba(52, 152, 219, 0.5), 0 0 20px rgba(52, 152, 219, 0.5), 0 0 30px rgba(52, 152, 219, 0.5), 0 0 40px rgba(52, 152, 219, 0.5), 0 0 50px rgba(52, 152, 219, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(52, 152, 219, 0.7), 0 0 40px rgba(52, 152, 219, 0.7), 0 0 60px rgba(52, 152, 219, 0.7), 0 0 80px rgba(52, 152, 219, 0.7), 0 0 100px rgba(52, 152, 219, 0.7);
    }

    100% {
        box-shadow: 0 0 10px rgba(52, 152, 219, 0.5), 0 0 20px rgba(52, 152, 219, 0.5), 0 0 30px rgba(52, 152, 219, 0.5), 0 0 40px rgba(52, 152, 219, 0.5), 0 0 50px rgba(52, 152, 219, 0.5);
    }
}