/* ============================
              Navbar
   ============================ */

.code-line-logo {
    color: greenyellow;
    position: relative;
    padding-left: 1em; /* Espacio para que no se sobreponga*/
    font-family: 'Roboto Mono', monospace;
}

.code-line-logo::before {
    content: '>';
    position: absolute;
    left: 0;
    animation: blink 2.5s infinite;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    z-index: 999;
    margin: 0 auto;
}

.navbar-inner {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 1.2rem;
}

/* Logo */
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e4e4e4;
    text-decoration: none;
}

/* Desktop links */
.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links a {
    position: relative;
    color: #e4e4e4;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar .links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4.5px;
    width: 0;
    height: 2.5px;
    background: #00b8d4;
    transition: width 0.3s ease;
    box-shadow: 0 0 10px rgba(52, 152, 219, 1), 0 0 20px rgba(52, 152, 219, 1), 0 0 30px rgba(52, 152, 219, 0.5), 0 0 40px rgba(52, 152, 219, 0.5), 0 0 50px rgba(52, 152, 219, 1);
}

.navbar .links a:hover::after,
.navbar .links a:focus::after {
    width: 100%;
}

/* Hamburger */
.dropdown-btn {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: transparent;
    color: white;
    border: none;
}

.dropdown-btn:hover {
    color:greenyellow;
    transition: 1.5s ease;
}

/* ============================
         Menu desplegable
   ============================ */
.dropdown {
    position: absolute;
    top: 43px;
    right: 2rem;
    width: 260px;
    max-height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 0 0 1rem 1rem;
    transition: max-height 0.65s cubic-bezier(0.6, 0, 0.4, 1), opacity 0.4s ease;
    z-index: 1000;
}

/* Menu al abrirse */
.dropdown.open {
    max-height: 500px;
    opacity: 1;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dropdown li:hover {
    background-color: rgba(0, 255, 0, 0.15);
    transition: 0.3s ease-in-out;
}

.dropdown li {
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.dropdown li a {
    display: block; /* Hace que el enlace sea un elemento de bloque */
    width: 100%;    /* Ocupa todo el ancho de su contenedor (el <li>) */
    height: 100%;   /* Ocupa toda la altura de su contenedor (el <li>) */
    padding: 2rem 0; 
    text-decoration: none; /* Asegúrate de que no haya subrayado por defecto */
    color: inherit;      /* Hereda el color del texto del <li> si lo tienes */
}

.dropdown li:last-child { /* Remove line for*/
    border: none;
}