/* ============================
   Responsive Design
   ============================ */

/* Ajustes para pantallas medianas */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .dropdown-btn {
        display: block;
    }

    .dropdown {
        display: block;
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 576px) {
    .dropdown {
        left: 2rem;
        width: unset;
    }
}