/* Reset some default styles to ensure consistent rendering across browsers */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Set a background gradient and a futuristic font for the entire page */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #060a0f, #0b1825);
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Style the header with a dark background, centered text, and a subtle border */
header {
    background-color: #0b1825;
    color: #00b8d4; /* Cyan color */
    text-align: center;
    padding: 1rem;
    border-bottom: 3px solid #00b8d4; /* Cyan color */
}

/* Style the navigation menu */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white; /* #00b8d4 */
    font-weight: bold;
}

/* Add a hover effect for navigation links */
nav a:hover {
    text-decoration: underline;
}

/* Style the sections with dark backgrounds and a futuristic border */
section {
    background-color: #0e2336; /* Darker blue */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 184, 212, 0.4); /* Cyan color */
}

/* Style the footer with a dark background and cyan text */
footer {
    background-color: #0b1825;
    color: #00b8d4; /* Cyan color */
    text-align: center;
    padding: 2rem;
}

/* Add a bit of spacing to the top and bottom of h1 and h2 headings */
h1, h2 {
    margin: 10px 0;
}

/* Style regular links */
a {
    text-decoration: none; /* Remove underline */
    color: #00b0cf; /* Link color 00b0cf*/
    transition: color 0.5s; /* Smooth color transition on hover */
    text-decoration: none;
}

/* Style links on hover */
a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #14e7d6; /* Change color on hover (e.g., orange) 14e7d6*/
    text-decoration: none;
}

/* Style visited links [suppressed]
a:visited {
    color: #703bfa;
}
*/