/* Reset some default styles to ensure consistent rendering across browsers */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Set a background gradient and a futuristic font for the entire page, which is not currently visible due to the sections desing (need to improve)*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: linear-gradient(to bottom, #0d1c2e, #084d92);
    color: #e4e4e4;
    padding: 0;
    margin: 0;
}

/* Add a bit of spacing to the top and bottom of h1 and h2 headings */
h1, h2 {
    margin: 10px 0;
}

/* Style the header with a dark background, centered text, and a subtle border */
header {
    position: relative;
    padding: 0 2rem;
    /* border-bottom: 0.5px solid #00b8d4; */
}

/* Style the footer with a dark background and cyan text */
footer {
    background-color: #0b1825;
    color: #00b8d4;
    text-align: center;
    padding: 2rem;
}

/* Style regular links */
a {
    text-decoration: none; /* Remove underline */
    color: #e2e2e2;  /*Link color 00b0cf*/
    transition: color 0.5s; /* Smooth color transition on hover */
    text-decoration: none;
}

/* Style links on hover */
a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #14e7d6; /* Change color on hover (e.g., orange) 14e7d6*/
    text-decoration: none;
}

/* Style visited links - Contact section
#contact a:visited {
    color: #0a0e44;
}*/

/* Creating transition effect for hidden elements */
.hidden {
    opacity: 0;
    filter: blur(5px);
    /*transform: translateX(-100%);*/
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    /*transform: translateX(0);*/
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* Style the sections and center div*/
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 0% 5%;
}

/* Style the swiper */

.swiper {
    width: 80%;
    height: auto;
    min-width: 350px;
    max-width: 900px;
  }

.swiper-slide img {
    width: 100%;
}


/* Style the navbar */
nav ul {
    list-style-type: none;
}

nav ul li {
    list-style: none;
}

nav a:hover {
    text-decoration: none;
}

/* Navbar details */
.navbutton {
    display: flex;
    color: #e4e4e4; /* #00b8d4 */
    gap: 2rem;
}

.dropdown-btn {
    display: none;
    color: #e4e4e4; /* #00b8d4 */
    gap: 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

/* Hamburger */
.navbar .dropdown-btn {
    text-align: center;
    font-size: 1.8rem;
    cursor: pointer;
}

/* Dropdown Menu */
.dropdown {
    display: none;
    position:absolute;
    width: 300px;
    right: 2rem;
    top: 60px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: heigth  0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
}

.dropdown.open{
    height: auto;
}

.dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive design */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .dropdown-btn {
        display: block;
    }

    .dropdown {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown {
        left: 2rem;
        width: unset;
    }
}
